/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.uhah{
  position: relative;
}
.isi{
  position: absolute;
  margin-left: 180px;
  margin-top: 120px;
  
}
.dasar{
  background-color: #E7EDEE;
}
.box{
  position: fixed;
  width: 10000px;
  height: 10000px;
  background-color: #E7EDEE;
}